<div class="container-fluid splash_login">
  <div class="row">
    <div class="col-xs-1 col-sm-3 col-lg-3">&nbsp;</div>
    <div class="col-xs-10 col-sm-6 col-lg-6">
      <%= image_tag "splash_logo.png", class: "center-block"  %>
      <div class="center-block">
        <div class="tnc">
          You have been invited to manage the following venues:
          <ul>
            <% @user.venues.each do |venue| %>
              <li><%= venue.name %></li>
            <% end %>
          </ul>
          By clicking "Confirm Account" you are agreeing to the <a href="#">Terms and Condition</a>.
        </div>
        <%= form_for :set_password, :url => user_venue_manager_confirm_account_path(params[:user_id],params[:token]), method: :put, :html => { :class => "login after" } do |form| %>
          <% if flash[:notice].present? %>
            <div class="alert alert-danger"><%= flash[:notice] %></div>
          <% end %>
          <%= form.password_field :password, class: "form-control", placeholder: "Set Password", autocomplete: "off" %>
          <div class="sign_in_button">
            <%= form.submit value: "Confirm Account" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-1 col-sm-3 col-lg-3">&nbsp;</div>
  </div>
</div>
