<% content_for :body do %>
  <body id='features'>
<% end %>
<header class="cd-header">
  <div id="cd-logo"><img src="/assets/lytit_logo.svg" style="width: 75px;" alt="Lytit"></div>
  <div id="cd-action"><a href="http://appsto.re/us/dbnb7.i" class="btn">Get It</a></div>
</header>
<div class="features-container">
  <header class="cd-header-home">
    <a href="/"><img id="logo" src="/assets/lytit_logo.svg" style="width: 110px;" alt="Lytit"></a>
    <a href="#0" class="cd-3d-nav-trigger-home">
    Menu
    <span></span>
    </a>
  </header>
  <!-- .cd-header -->
  <div class="cd-main-content">        
    <div class="cd-product-intro">
      <div class="explore-features"><%= link_to image_tag("/assets/explore.svg", :width => 75), features_path %></div>
      <h1>Enlyten Yourself</h1>
      <p style="max-width: 480px">Discover the best places through live media content inside curated location guides.</p>
    </div>
    <!-- cd-product-intro -->
    <div id="cd-product-tour">
      <ul>
        <li class="cd-single-item cd-active right-floater guides-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="guide-intro">
                  <h2>Discover</h2>
                  <p>Lyts are assigned to active places for a quick overview of what's happening in an area at anytime.</p>
              </div>
            </div>
            <div class="col-md-6">
                <div id="slideshow">
                   <div>
                     <img src="/assets/sample_guide_cover.jpg" style="border-radius: 3px 3px 3px 3px">
                   </div>
                   <div>
                     <img src="/assets/sample_guide_cover_2.jpg" style="border-radius: 3px 3px 3px 3px">
                   </div>
                </div>
            </div>


          </div>
        </li>

       <li class="cd-guide-features">
          <div class="cd-caption">
            <h2>More Than Just a List</h2>
            <p>Enlyten people about your surroundings by posting Moments.</p>
          </div>
          <div class="row">            
            <div class="col-md-4">
              <div class="guide-feature-item">
                <img class="center-block" src="/assets/lytit_icon.png">  
                <h2 class="heading text-center">Add</h2>
                <p class="text-center">Upvote what’s good and downvote what’s not. The community decides what’s hot.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="guide-feature-item">
                <img class="center-block" src="/assets/lytit_icon.png">
                <h2 class="heading text-center">Add</h2>
                <p class="text-center">Upvote what’s good and downvote what’s not. The community decides what’s hot.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="guide-feature-item">
                <img class="center-block" src="/assets/lytit_icon.png">
                <h2 class="heading text-center">Add</h2>
                <p class="text-center">Upvote what’s good and downvote what’s not. The community decides what’s hot.</p>
              </div>
            </div>            
          </div>
        </li>

        <li class="cd-single-item cd-not-visible cd-move-right left-floater lyt-map">
          <div class="cd-caption">
            <h2>Experience Places</h2>
            <p>Tap on lyts or search for places to receive a real-time feed of content and information from on location.</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/venue_pages@2x.png" data-video="/assets/find_list" alt="Venue Pages">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right right-floater">
          <div class="cd-caption">
            <h2>Be Enlytening</h2>
            <p>Enlyten people about your surroundings by posting Moments.</p>
            <p style="margin-top: -40px"> Lytit Moment  are passed on to select nearby users.
            If they like what they see, the Moment is forwarded to more and more people, further and further across the world!</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/moments@2x.png" data-video="/assets/place_search" alt="Moments">
              </div>
            </div>
          </div>
        </li>
        <li class="cd-single-item cd-not-visible cd-move-right left-floater">
          <div class="cd-caption">
            <h2>Engage & Explore</h2>
            <p>Create Lists of places or join those of your friends, locals, or influencers, to share and discover exciting locations.</p>
          </div>
          <div class="cd-image-container">
            <div>
              <div class="cd-phone-frame"></div>
              <div class="cd-image-wrapper">
                <img src="/assets/lists@2x.png" data-video="/assets/live_search" alt="Lists">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <footer class="footer-basic-centered features-footer">
        <p class="footer-links">
          <a><%= link_to "Privacy", privacy_path %></a>
          ·
          <a><%= link_to "Terms", tnc_path %></a>
          ·
          <a href="mailto:support@lytit.com">Support</a>
          ·
          <a href="mailto:lux@lytit.com">Contact</a>
        </p>
        <p class="footer-company-name">Lytit, inc. &copy; 2016</p>
      </footer>
    </div>
    <!-- cd-product-tour -->
    <div class="cd-slider-nav">
      <a class="cd-prev" href="#0">Previous</a>
      <a class="cd-next" href="#0">Next</a>
    </div>
    <!-- cd-slider-nav -->
    <div class="cd-loader"></div>
    <!-- top loading bar -->
  </div>
</div>

<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li><%= link_to "Home", root_path %></li>
    <li class="cd-selected"><%= link_to "Features", features_path %></li>
    <li>
      <a href="mailto:lux@lytit.com">Contact</a>
    </li>
    <li>
      <a href="http://blog.lytit.com">Blog</a>
    </li>
    <li>
      <a href="https://www.facebook.com/lytitapp">Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/lytitapp">Twitter</a>
    </li>
  </ul>
  <!-- .cd-3d-nav -->
  <span class="cd-marker color-1"></span> 
</nav>
<!-- .cd-3d-nav-container -->