<%= favicon_link_tag "favicon.ico"%>

<div class="page-container">
   <div class="header">
         <div class = "header-top">
            <div class="container">
               <div class = "col-sm-7 col-sm-offset-5"> 
                    <ul class="nav navbar-nav navbar-right">
                     <li class="contact-us"><a href="#" data-toggle="modal" data-target="#contact_us_modal">CONTACT US</a></li>
                     <li class="twitter" href="/"><%= link_to "t", "https://twitter.com/lytitapp" %></li>
                     <li class="facebook" href="/"><%= link_to "f", "https://facebook.com/LYTiTApp" %></li>
                  </ul>
               </div><!--col-sm-7-->         
         </div><!--header-top-->
      </div><!--header-->
      <div class="header-bottom">
         <div class="container">
               <div class="col-sm-10 col-sm-offset-1 text-center">
                  <div id="logo"><%= image_tag src="LytitWhite.png"%>
                  </div>
                  <!--<p class="appStoreBtnBox"><%= image_tag "AppStoreDownloadClear.png"%></p>-->
                  <p class="appStoreBtnBox"><a href="https://itunes.apple.com/us/app/lytit/id990171203?mt=8"><%= image_tag "AppStoreDownloadClear.png"%></a></p>
                  <p id="comingSoon"> COMING SOON!</p>
               </div><!--col-sm-10-->
         </div><!--container-->
      </div><!--header-bottom-->
   </div>
   
   <!--OVERVIEW-->
   <div id="content">
      <div class="home-top text-center">
         <div class="container">
            <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <h2>Browse the world in real-time</h2>
                  <p>Countless Moments are shared through social media every second. LYTiT Maps them to locations allowing you to easily search for and explore live content from anywhere, whether it's the coffee shop down the street or a city thousands of miles away.</p>
               </div><!--col-sm-10-->
            </div><!--row-->
         </div><!--container-->
      </div><!--home-top-->

      <!--FEATURES-->
      <div class="feature-box invert-mobile">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-4 col-md-offset-2 rightPadding">
                  <div class="feature-icon-2"><%= image_tag "LYTFlat.png"%></div>
                  <h3>LYT MAP</h3>
                  <p>A quick overview of a specific place or a wider area is provided by its lyt. The brighter it glows the greater the amount of recent activity at that location.</p>
               </div>
               <div class="col-sm-6 col-md-4 leftPadding">
                  <p class="iphone-img"><%= image_tag "iPhone_LYTMap.png"%></p>
               </div>
            </div><!--row-->
         </div><!--container-->
      </div><!--feature-box-->
      <div class="feature-box gray-bg">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-4 col-md-offset-2 rightPadding">
                  <p class="iphone-img"><%= image_tag "iPhone_VenuePage.png"%></p>
               </div>
               <div class="col-sm-6 col-md-4 leftPadding">
                  <p class="feature-icon-3"><%= image_tag "VenuePage.png"%></p>
                  <h3>VENUE PAGES</h3>
                  <p>Searching for locations or tapping on lyts pulls up Venue Pages that house live  Moments. Upon zooming-out lyts group into clusters that can be selected to show content from multiples places in one feed.</p>
                  <br>
                  <p>All Moments on LYTiT clear after a day guaranteeing everything you come across is fresh.</p>
               </div><!--col-sm-6-->
            </div><!--row-->
         </div><!--container-->
      </div><!--feature-box-->
      <div class="feature-box invert-mobile">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-4 col-md-offset-2 rightPadding">
                  <p class="feature-icon-4"><%= image_tag "Feeds.png"%></p>
                  <h3>FEEDS</h3>
                  <p>Build a Feed of Moments from places that interest you. Add other people's Feeds to discover new and exciting locations.</p>
               </div>
               <div class="col-sm-6 col-md-4 leftPadding">
                  <p class="iphone-img"><%= image_tag "iPhone_Feeds.png"%></p>
               </div>
            </div><!--row-->
         </div><!--container-->
      </div><!--feature-box-->
      <div class="feature-box gray-bg">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-4 col-md-offset-2 rightPadding">
                  <p class="iphone-img"><%= image_tag "iPhone_Moment.png"%></p>
               </div>
               <div class="col-sm-6 col-md-4 leftPadding">
                  <p class="feature-icon-3"><%= image_tag "MomentMapping.png"%></p>
                  <h3>MOMENT MAPPING</h3>
                  <p>Whenever you publicly geo-tag your social media activity you automatically contribute to the real-time picture on LYTiT. You can however capture Moments directly within the application.</p>
                  <br>
                  <p>There are no accounts or registrations so LYTiT Moments are completely anonymous.</p>
               </div>
            </div><!--row-->
         </div><!--container-->
      </div><!--feature-box-->

      <!--MAP THE MOMENT CLOSING-->
      <div class="closing">
            <div class="col-sm-10 col-sm-offset-1 text-center">
               <h1>Map the Moment</a></h1>
               <!--<h1><a href="https://itunes.apple.com/us/app/lytit/id990171203?mt=8">Map the Moment</a></h1>-->
            </div>
      </div>
   </div>

   <!--FOOTER-->
   <div class="footer-area">
      <div class="container">
         <div class="row">
            <div class="col-sm-4">
               <p class="copy-right">© 2015 LYTiT, INC.</p>
            </div>
            <div class="col-sm-8 footer-right">
               <ul>
                  <li><%= link_to "Terms & Conditions", tnc_path %></li>
                  <li><%= link_to "Privacy", privacy_path %></li>
                  <li><a href="mailto:support@lytit.com">Support</a></li>
               </ul>
            </div>
         </div><!--row-->
      </div><!--container-->
   </div><!--footer-area-->
</div><!--page-container-->
