  <% provide(:title, "Legal") %>
<%= favicon_link_tag %>


<nav class="navbar navbar-default navbar-flat">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="/"><%= image_tag "lytit_official_white_resized.png"%> </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse navbar-collapse-flat">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= yield(:home) %>"><%= link_to "HOME", root_path %></li>
        <li class="<%= yield(:lumen_game) %>"><%= link_to "LUMEN GAME", lumen_game_path %></li>
        <!--<li class="<%= yield(:blog) %>"><%= link_to "BLOG", blog_path %></li>-->
        <li class="<%= yield(:contact) %>"><a href="#" data-toggle="modal" data-target="#contact_us_modal">CONTACT US</a>
        <li class="twitter" href="/"><%= link_to "L", "https://twitter.com/LYTiTApp"%></li>
        <li class="facebook" href="/"><%= link_to "F", "https://facebook.com/LYTiTApp" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <div class="static_pages">
  <h1>Privacy Policy</h1>
  <p>LYTiT Inc. ( the "Company" or "We") respect your privacy and are committed to protecting it through our compliance with this policy. This policy applies to all information collected or submitted on and through the LYTiT services or LYTiT mobile application (together “LYTiT”).</p>
  <p><b>The Information We Collect</b></p>
  <p>What we collect is dependent on the source of the information we collect from you. There is information that you voluntarily provide, such as when you download, use, or sign up for LYTiT (i.e., e-mail address). The other information is data collected from your usage of LYTiT on your various devices (e.g., collecting geolocational data using the LYTiT app on mobile devices). This data is usually less specific to your identity and more related to statistics for our services. Some of the types of data we collect include log data (e.g., date and time) and device-related data (e.g., what the actual device being used is, the OS running on the device, certain device settings).</p>
  <p>When you download and use our LYTiT mobile app, we assign you a username, but we do not collect your name, phone number, or email address.  But if you choose to register for LYTiT’s mobile app, you will be asked to create a user name and provide an e-mail address (“LYTiT Registered Account”).  Even if you do not register for LYTiT, we collect some information automatically regarding your usage of the Services such as access time, device ID or other unique identifier, geo-location data (upon your consent); your activities within LYTiT, language information, and LYTiT usage time. We may use this information in conjunction with other data that we may have collected about you. We also collect the content you submit to LYTiT (photos, ratings, LYTiT Moment requests, comments, and user created place lists), as well as information about when and where you submitted the content, how it was viewed, and other uses.</p>
  <p>LYTiT is a platform for location discovery and insights.  Therefore, we ask you to share your location information using LYTiT. You can choose to disable access to your geo-location data access by LYTiT in your mobile phone settings; however, by doing so LYTiT will not work. Location data is to provide you with real time insights to the world around you.</p>
  <p><b>The Way We Share Information</b></p>
  <p>When you use LYTiT, you may be sharing what you do with other LYTiT users, groups, friends, and/or the public, depending on how you configure your privacy settings.  You cannot control who views content that you post.Any information that you post, including photos, comments, and LYTiT Moment Requests may in fact become public and are shared at your own risk. Other LYTiT users can freely share any LYTiT content through third party sites like Facebook and Twitter.</p>
  <p>We may also disclose the information we collect from you and your use of LYTiT with our third party vendors and business partners, including advertisers.  When you post content at a location with LYTiT that information may be seen by the venue partner and its affiliates.  Unless you post your name and other contact information, we do not identify you by name or collect such information.  We cannot prevent other LYTiT users from determining your identity based on the content you post on LYTiT or how you share content through other third party websites.</p>
  <p>Aside from these instances that involve your direct interaction, we might share your information when we request your consent (such as when you share your activity on LYTiT on Facebook or Twitter or other social media sites) or when we use third-party companies or individuals to process data per the terms of this Privacy Policy (such as working with security consultants to make our products safer or identify spammers). Conversely, some of the information we request may be collected by third-party providers on our behalf. We may also be compelled to share information with law enforcement or by judicial request (e.g., subpoenas) or to protect the safety, rights, or property of the public, any person, or LYTiT or to detect, prevent, or otherwise address fraud, security, or technical issues. If LYTiT engages in a merger or acquisition or determines that it must dissolve, reorganize, or declare bankruptcy, such transactions and proceedings may involve the transfer of this information.</p>
  <p>As previously described, some data is non-personally identifiable or is aggregated for statistical analysis (which may be part of the service LYTiT provides by virtue of what the LYTiT mobile application is designed to do). This information may be shared with our partners or others, such as telling a merchant click-through rates or how many times one of their venues was viewed or visited.</p>
  <p><b>Our Commitment to Security </b></p>
  <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate electronic and managerial procedures to safeguard and secure the information we collect. The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of LYTiT, you are responsible for keeping this password confidential.</p>
  <p><b>Our Commitment to Children's Privacy</b></p>
  <p>Protecting the privacy of the very young is especially important. For that reason, we never attempt to collect or maintain information at our website from those we actually know are under 17, and no part of our website is structured to attract anyone under 13. If we discover that a child under 13 has provided us with personal information, we will delete such information from our systems.</p>
  <p><b>How To Contact Us</b></p>
  <p>Should you have other questions or concerns about these privacy policies, please email us at <a style="color: #00ccff;" href="mailto:support@lytit.com">support@lytit.com</a></p>
  <p><b>Changes to this Policy</b></p>
  <p>This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so please be sure to check back periodically. We will post any changes to this Policy on our Site, at http://www.lytit.com/privacy. If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site, or providing notice in our mobile app.</p>
  <br /><br /><br /><br />
</div>
</div>

  <div class="footer-area">
       <div class="container">
           <div class="row">
               <div class="col-sm-4">
                   <p class="copy-right">© 2015 LYTiT, INC.</p>
               </div><!--/col-sm-5 -->
               <div class="col-sm-8 footer-right">
                   <ul>
                     <li><%= link_to "Terms & Conditions", terms_and_conditions_path %></li>
                     <li><a href="privacy.php">Privacy</a></li>
                     <li><a href="mailto:support@lytit.com">Support</a></li>
                   </ul>                
                </div><!--/col-sm-7 -->
           </div><!--/row -->
       </div><!--/container -->
  </div><!--/footer-area -->
