<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-7 venue_messages">
      <div class="venue-selector-container">
        <h1 class="venue-selector <%= current_user.venues.size > 1 ? 'active' : nil %>">
          <a href="#"><%= @venue.name %></a>
          <small>Please type in upto four promotions/messages that will be displayed on your venue page.</small>
        </h1>      
        <% if current_user.venues.size > 1 %>
          <ul class="list-group">
            <% current_user.venues.order(:name).each do |venue| %>
              <li class="list-group-item">
                <%= link_to venue.name, venue %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <ul class="list-group venue_messages_list">
        <li class="list-group-item">
          <div class="pull-left message_items">
            <div class="message">THUR - LOCAL BREW NIGHT $4 BEERS BREWED IN NY</div>
            <div class="character_limit" data-max-length="60">40/60</div>
          </div>
          <div class="pull-right action_items">
            <a href="#" class="move_handle">&nbsp;</a>
            <a href="#" class="delete_button">&nbsp;</a>
          </div>  
        </li>
        <li class="list-group-item">
          <div class="pull-left message_items">
            <div class="message">FRI - $4 SAM ADAMS PINTS</div>
            <div class="character_limit" data-max-length="60">40/60</div>
          </div>
          <div class="pull-right action_items">
            <a href="#" class="move_handle">&nbsp;</a>
            <a href="#" class="delete_button">&nbsp;</a>
          </div>  
        </li>
        <li class="list-group-item">
          <div class="pull-left message_items">
            <div class="message">SAT - HAPPY HOUR ALL DAY!! $5 BLOODY MARY AND MIMOSA</div>
            <div class="character_limit" data-max-length="60">40/60</div>
          </div>
          <div class="pull-right action_items">
            <a href="#" class="move_handle">&nbsp;</a>
            <a href="#" class="delete_button">&nbsp;</a>
          </div>  
        </li>
      </ul>
      <ul class="list-group venue_messages_list add_to_list">
        <li class="list-group-item">Type in your promotion/message.</li>
      </ul>
      <input type="submit" value="Save/Publish" class="btn btn-primary btn-save"> 
    </div>
    <div class="col-md-4 col-sm-5 venue_messages">
      <div class="iphone_mockup_container">
        <%= image_tag "iphone_mockup.png" %>
        <span class="venue_name"><%= @venue.name %></span>
        <marquee behavior="scroll" direction="left" class="venue_message" scrollamount="3">THUR - LOCAL BREW NIGHT $4 BEERS BREWED IN NY</marquee>
      </div>
    </div>
  </div>
</div>
