<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LYTiT</title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %> splash">
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'javascript' %>
</body>
</html>
