<!DOCTYPE html>
<html>
<head lang="en" data-placeholder-focus="false">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LYTiT | <%=yield(:title) %> </title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="lytit <=% controller.controller_name %>">
    <%= yield %>
  </div>
  <%= render 'layouts/contact_us' %>
  <%= render 'javascript' %>
</body>
</html>
